<link rel="import" href="bower_components/polymer/polymer-element.html">
<link href="bower_components/paper-input/paper-input.html" rel="import">
<link href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html" rel="import">
<link href="bower_components/paper-button/paper-button.html" rel="import">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">



<dom-module id="home-element">
  <template>
    <style>
      :host {
        display: block;
      }
   
    </style>
    <h2>Hello [[prop1]]!</h2>

    <paper-input always-float-label label="Full Name" id="fname"></paper-input>
     <paper-input always-float-label label="Email Id"></paper-input>
      <paper-input always-float-label label="Telephone"></paper-input>
        <paper-input always-float-label label="Security Amount"></paper-input>
         <paper-input always-float-label label="Requested Amount"></paper-input>
  <paper-dropdown-menu label="Loan type">
      <paper-listbox slot="dropdown-content" selected="0">
        <paper-item>Select Loan Type</paper-item>
      <paper-item>Auto</paper-item>
      <paper-item>Personal</paper-item>
    <paper-item>Home</paper-item>
    <paper-item>Education</paper-item>
  </paper-listbox>
 
</paper-dropdown-menu>
<br/>
<br/>
<paper-button raised class="indigo">Submit</paper-button>


    <!--<paper-input label="username">
    <div slot="suffix">@email.com</div>
</paper-input>-->


  </template>

  <script>
    /**
     * `home-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HomeElement extends Polymer.Element {
      static get is() { return 'home-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'My Loan'
          }
        };
      }
    }

    window.customElements.define(HomeElement.is, HomeElement);
  </script>
</dom-module>
